<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
</head>
<body>

<h2>Edit Employee</h2>

<form th:action="@{/save}" th:object="${empDto}" method="post">

    <input type="hidden" th:field="*{empId}" />

    <label>ID:</label>
    <input type="text" th:field="*{empId}" readonly />
    <br><br>

    <label>Name:</label>
    <input type="text" th:field="*{empName}" />
    <span th:errors="*{empName}"></span>
    <br><br>

    <label>Salary:</label>
    <input type="number" th:field="*{empSal}" />
    <span th:errors="*{empSal}"></span>
    <br><br>

    <label>DOJ:</label>
    <input type="date" th:field="*{empDoj}" />
    <span th:errors="*{empDoj}"></span>
    <br><br>

    <label>Dept:</label>
    <input type="text" th:field="*{deptName}" />
    <span th:errors="*{deptName}"></span>
    <br><br>

    <button type="submit">Save</button>

</form>

</body>
</html>